.khadamt {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(184,184,184);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 60%;
    height: 850px;
    background-color: rgb(93,93,92);
    border-radius: 10px;
    margin-top: 2%;
    
}

.head {
    width: 60%;
}

.head h5 {
    font-size: 24px;
    font-weight: bold;
    color: #000080;
}

.head p {
    font-size: 15px;
    color: rgb(246, 242, 242);
}

.link {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid red;
    padding: 20px 0;
}

.link a {
    border: 1px solid #000080;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #fff;
    background-color: #5c5cfe;
    font-size: 12px;
}
.link2{
    width: 5%;
    border-bottom: 1px solid red;
    padding-right: 10%;
}
.link span {
    color: red;
    font-size: 20px;
    margin: 20px 5px 0 0;
}

.mozo {
    margin: 2% auto;
    text-align: center;
}

.mozo span {
    color: red;
    font-size: 25px;
    position: absolute;
    margin: 5px 2px 0 0px;
}
.textarea span{
    color: red;
    font-size: 25px;
    position: absolute;
}

.mozo label {
    margin: 0 20px;
    position: relative;
}

.mozo input {
    width: 34%;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    outline: none;
    outline: none;
}

.container input:focus {
    outline: 1px solid rgb(73, 157, 247);
    box-shadow: 1px 1px 3px rgb(73, 157, 247);
}

.rightcontrol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 400px;
    
}


.text {
    width: 20%;
    height: 230px;
    /* background-color: red; */
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    margin: -160px 20px 0 0;
    position: relative;
    left: 4%;
}
.textprice{
    color: #000080;
}
.textleft{
    width: 20%;
    height: 220px;
    /* background-color: red; */
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    margin:  -34% 45% 0 0;
    position: relative;
    
}

.text span {
    color: red;
    font-size: 25px;
    position: absolute;
}
.textleft span{
    color: red;
    font-size: 25px;
    position: absolute;
}
.textarea{
    margin: 35px 100px 0 0  ;
    color: #fff;
}
.textarea2{
    /* display: inline; */
    margin: -40px 87px 0 0;
}
.select1{
    width: 105%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
}
.select1 select {
    width: 65%;
    height: 34px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    
}
.select24 {
    width: 100%;
    height: 50%;

}
.select24 input{
    width: 68%;
    height: 35px;
    border-radius: 5px;
   
    
}

.select30 input{
    width: 72%;
    height: 35px;
    border-radius: 6px;
    position: relative;
}
.sel31{
    width: 35%;    
    margin-right: 72%;
    margin-top: -12%;

}
.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 400px;
    /* background-color: blue; */
}

.controlleft{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 420px;
    /* background-color: blue;  */
    margin: -385px 620px 0 0;
    
}
.selectleft{
    width: 50%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30%;
    margin-right: 2%;
}
.selectleft select{
    width: 110%;
    height: 35px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

}
.file{
    padding-right: 95px;
}
.file1{
    width: 240px;
    
}

.file2{
    width: 240px;
    margin-right: 250px;
    margin-top: -70px;
}
.file3{
    width: 240px;
    margin-right: 510px;
    margin-top: -70px;
}
.file4{
    width: 240px;
    margin-right: 770px;
    margin-top: -70px;
}
.action {
    width: 98%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 218, 218);
    padding: 1rem 0;
}

.action button {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #19af2d;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
}

