.topscroll {
    width: 60%;
    margin: 2% auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 70%;
    z-index: 0;
}

.left {
    width: 30%;
}